PORT=8888
XRAY_UUID=5ccad305-e243-4bb2-abf0-1e37189ce4e8
DEST_SNI=m.tiktok.com
PRIVATE_KEY=sD7SQLbL_Ka6U2Fyu2tMxWAfz5ZFn093LF0ihwl9n24
PUBLIC_KEY=3u34YvqYDL3DtKfCPWPH9HjEYjnWv1xitfGErFRhDR8
SHORT_ID=6baad05fed
FRP_SERVER_ADDR=frp.freefrp.net
FRP_SERVER_PORT=7000
FRP_TOKEN=freefrp.net
REMOTE_PORT=12345
PRIVATE_IP_PORT=
PUBLIC_IP_PORT=
